.info{
    text-align: center;
    font-size: 25px
}
html{
  background-color: #f0802b;
}
h1{
  font-size: 35px;
  text-align: center
}
img{
  margin-left: auto;
  margin-right: auto;
  display: block
}
#badminton_img{
  filter:grayscale(100%);
}
#ACS_logo{
  border-style: 1px solid black;
}
